<ion-view view-title="Brand">
   <ion-content>
   <div class="list animated bounceInLeft">
	<div class="item item-body">
       <label class="item item-input">
         <!--  <span class="input-label">Label1</span> -->
	         <input type="text" placeholder="Label1" ng-model="sampleData.labelOne" class="input">
       </label> 
       
       <label class="item item-input">
         <!--  <span class="input-label">Label2</span> -->
	         <input type="text" placeholder="Label2" ng-model="sampleData.labelTwo" class="input">
       </label> 
        <label class="item item-input">
		  <!--   <span class="input-label">Label4</span> -->
		     <span class="in_pad2"></span> 
				<span class="item-icon-right"> <i
					class="icon ion-ios-calendar-outline"></i> <input type="text" placeholder="Label4"
					class="input" ng-model="sampleData.labelFour" pick-a-date="depDate"
					pick-a-date-options="depOptions" placeholder="" />
			   </span>
		</label>
         <label class="item item-select">
                <span class="input-label">Label3</span>
                <select ng-model="sampleData.labelThree">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
            
		<label class="item item-input label5">
	   <span class="input-label">Label5</span>
		   <!--   <span class="in_pad1"></span>  -->
		        <ion-checkbox ng-model="sampleData.labelFive" align="center" ng-checked="item.checked" > </ion-checkbox>
        </label> 
        
       <!--  <label class="item item-input"> 
          <span class="input-label">Label6</span> 
	           <span class="in_pad3"></span> 
	              <ion-radio value="AM" id="AM"ng-model="sampleData.labelSix" />AM</ion-radio>
	              <ion-radio value="PM" id="PM"ng-model="sampleData.labelSix" />PM</ion-radio> 
	              <ion-radio value="Any" id="Any"ng-model="sampleData.labelSix" />Any </ion-radio>
         </label> -->
         
          <label class="item item-input label5">
             <span class="input-label">Label7</span>
                <!--  <span class="in_pad1"></span> -->
                     <ion-checkbox ng-model="sampleData.labelSeven">lorem ipsum loren</ion-checkbox>
          </label>
          
         <br>
         
         <div class=" item item-divider">
     Label6
   </div>
   <label class="item item-radio">
      <input type="radio" name="group1" ng-model="sampleData.labelSix" value="AM">
      <div class="item-content">
         AM
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>

   <label class="item item-radio">
      <input type="radio" name="group2" ng-model="sampleData.labelSix" value="PM">
      <div class="item-content">
         PM
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>
         <label class="item item-radio">
      <input type="radio" name="group3" ng-model="sampleData.labelSix"value="Any">
      <div class="item-content">
         Any
      </div>
      <i class="radio-icon ion-checkmark"></i>
   </label>
        <label class="item item-input">
	<button class="button button-calm button-small"
		ng-click="saveSampleData()">Action1</button> &nbsp;<button class="button button-energized button-small"
			ng-click="getSampleData()">Get All</button></label>
			
			<br>
			
	<div class="list" ng-repeat="result in resultArray">
   		<div class="item item-divider item-calm">Feature 1</div>
   		
   			<div class="item">
   				<span class="col-sm-2 col-xs-7 side_label">label1 </span>
   					<span class="col-sm-10 col-xs-5 s_label"> {{result.labelOne}}</span>
   			</div>
   			
   			<div class="item">
   				<span class="col-sm-2 col-xs-7 side_label">label2</span>
   					<span class="col-sm-10 col-xs-5 s_label"> {{result.labelTwo}}</span>
   			</div>
   			
  		 	<div class="item">
  		 		<span class="col-sm-2 col-xs-7 side_label">label3 </span>
					<span class="col-sm-10 col-xs-5 s_label">{{result.labelThree}}</span>
			</div>
			
  			 <div class="item"> 
  			 	<span class="col-sm-2 col-xs-7 side_label">label4 </span>
					<span class="col-sm-10 col-xs-5 s_label"> {{result.labelFour}}</span>
			</div>
			
   			<div class="item">
   				<span class="col-sm-2 col-xs-7 side_label">label5 </span>
					<span class="col-sm-10 col-xs-5 s_label"> {{result.labelFive}}</span>
			</div>
			
   			<div class="item">
   				<span class="col-sm-2 col-xs-7 side_label">label6 </span>
					<span class="col-sm-10 col-xs-5 s_label">{{result.labelSix}}</span>
			</div>
			
   			<div class="item">
   				 <span class="col-sm-2 col-xs-7 side_label">label7 </span>
					<span class="col-sm-10 col-xs-5 s_label">{{result.labelSeven}}</span>
			</div>
      </div>
			
			 </div></div>

</ion-content> </ion-view>
    <!-- 
<div class="list half">
	<div class="card card-gallery item item-text-wrap">
		<div class="ink dark-bg">
			<h2>Feature1</h2>

		</div>
		<div class="" ng-repeat="result in resultArray">
			<ion-list>
			<div class="">
				<span class="col-sm-2 col-xs-7 side_label">label1 </span><span
					class="col-sm-10 col-xs-5 s_label"> {{result.labelOne}}</span>
			</div>
			<span class="col-sm-2 col-xs-7 side_label">label2</span>
			<span class="col-sm-10 col-xs-5 s_label"> {{result.labelTwo}}</span>
			<span class="col-sm-2 col-xs-7 side_label">label3 </span>
			<span class="col-sm-10 col-xs-5 s_label">{{result.labelThree}}
			</span> <span class="col-sm-2 col-xs-7 side_label">label4 </span>
			<span class="col-sm-10 col-xs-5 s_label"> {{result.labelFour}}</span>
			<span class="col-sm-2 col-xs-7 side_label">label5 </span>
			<span class="col-sm-10 col-xs-5 s_label"> {{result.labelFive}}</span>
			<span class="col-sm-2 col-xs-7 side_label">label6 </span>
			<span class="col-sm-10 col-xs-5 s_label">{{result.labelSix}}</span> <span
				class="col-sm-2 col-xs-7 side_label">label7 </span>
			<span class="col-sm-10 col-xs-5 s_label">{{result.labelSeven}}</span>
			<span class="text"></span> </ion-list>
		</div>
	</div>
	<div class="card card-gallery item item-text-wrap">
		<div class="ink dark-bg">
			<h2>Feature2</h2>
		</div>
		<div>updates later</div>
	</div>
</div>
 -->

