<ion-view title="Brand" id="page1" class=" "> <ion-content
	padding="true" class="has-header"> <ion-list
	id="motorolaSolutions-list1" class=" "> <label
	class="item item-input"> <span class="input-label">Label1</span>
	<input type="text" class="input" placeholder="">
</label> <label class="item item-input"> <span class="input-label">Label2</span>
	<input type="text" class="input" placeholder="">
</label> <label class="item item-input item-select"> <span
	class="input-label">Label3</span> <select class="input">
		<option>Yes</option>
		<option selected>No</option>

</select>
</label> <label class="item item-input"> <span class="input-label">Label4</span>

	<span class="in_pad"></span> <span class="item-icon-right"> <i
		class="icon ion-ios-calendar-outline"></i> <input type="text"
		class="input " pick-a-date="depDate" pick-a-date-options="depOptions"
		placeholder="" />
</span>

</label>
<label class="item item-checkbox Label5 ">Label5<span
	class="in_pad1"></span> <input type="checkbox" class="input">
</label> <label class="item item-input">
                <span class="input-label">Label6</span>
                  <div class="some-class">
                    <label for="y">AM </label>
                    <input type="radio" class="radio" name="x" value="y" id="y" checked />
                    <label for="z">PM </label>
                    <input type="radio" class="radio" name="x" value="z" id="z" />   
                     <label for="x">Any </label>
                    <input type="radio" class="radio" name="x" value="x" id="x" />                    
                  </div>
                         
            </label><label class="item item-checkbox Label5 ">Label7<span
	class="in_pad1"></span> <input type="checkbox" class="input">lorem ipsum loren
</label>
            
            
            
            </ion-list><br><button class="button button-positive button-small">
Action1
</button>   <div class="list card">
      <div class="item item-divider item-postive">Feature1</div>
      <div class="item item-body">
        <div>
       
        </div>
      </div>
    </div>
    
     <div class="list card">
      <div class="item item-divider item-postive">Feature2</div>
      <div class="item item-body">
        <div>
       
        </div>
      </div>
    </div> 
    
     <div class="list card">
      <div class="item item-divider item-postive">Feature2</div>
      <div class="item item-body">
        <div>
       
        </div>
      </div>
    </div> 
    
     </ion-content> </ion-view>