<ion-view title="Brand" id="page1" class=" "> 

<ion-content padding="true" class="has-header"> 

	<ion-list id="motorolaSolutions-list1" class=" "> 
	
		<label class="item item-input">	
				<span class="input-label">Label1</span>
				<input type="text" ng-model="sampleData.labelOne" class="input" placeholder="">
		</label> 
		
		<label class="item item-input"> 
			<span class="input-label">Label2</span>
			<input type="text" ng-model="sampleData.labelTwo" class="input" placeholder="">
		</label> 
		
		<label class="item item-input item-select"> 
			<span class="input-label">Label3</span> 
			<select class="input" ng-model="sampleData.labelThree">
				<option>Yes</option>
				<option selected>No</option>
			</select>
		</label> 
		
		<label class="item item-input"> 
			<span class="input-label">Label4</span>
			<span class="in_pad"></span> 
			<span class="item-icon-right"> 
					<i class="icon ion-ios-calendar-outline"></i> 
					<input type="text" class="input" ng-model="sampleData.labelFour" pick-a-date="depDate" pick-a-date-options="depOptions" placeholder="" />
			</span>
		</label>
		
		<label class="item item-checkbox Label5 ">Label5
			<span class="in_pad1"></span> 
			<input type="checkbox" class="input" ng-model="sampleData.labelFive">
		</label> 
		
		<label class="item item-input">
              <span class="input-label">Label6</span>
              <div class="some-class">
                    <label for="y">AM </label>
                    <input type="radio" class="radio" name="x" value="y" id="y" ng-model="sampleData.labelSix" />
                    <label for="z">PM </label>
                    <input type="radio" class="radio" name="x" value="z" id="z" />   
                    <label for="x">Any </label>
                    <input type="radio" class="radio" name="x" value="x" id="x" />                    
               </div>
         </label>
         
         <label class="item item-checkbox Label5 ">Label7
         		<span class="in_pad1"></span> 
         		<input type="checkbox" class="input" ng-model="sampleData.labelSeven">lorem ipsum loren
		</label>
            
            
            
   </ion-list>
   
   <br>
   
   <button class="button button-positive button-small" ng-click="saveSampleData()"> Save One </button>   
   <button class="button button-positive button-small" ng-click="getSampleData()"> Get All </button>
   
   <div class="list card">
      <div class="item item-divider item-postive">Feature1</div>
      <div class="item item-body">
        	<div ng-repeat="result in resultArray">
       			1 : {{result.labelOne}}
       			2 : {{result.labelTwo}}
       			3 : {{result.labelThree}}
       			4 : {{result.labelFour}}
       			5 : {{result.labelFive}}
       			6 : {{result.labelSix}}
       			<br>
       			____________________________
       		</div>
      </div>
   </div>

	<div class="list card">
		<div class="item item-divider item-postive">Feature2</div>
		<div class="item item-body">
			<div><!-- updates later --></div>
		</div>
	</div>

	<div class="list card">
		<div class="item item-divider item-postive">Feature2</div>
		<div class="item item-body">
			<div>
				<!-- updates later -->
			</div>
		</div>
	</div>
	
</ion-content> 
 
 </ion-view>