<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <!-- brand Tab -->
  <ion-tab title="Add" icon="ion-navicon-round" href="#/tab/brand">
    <ion-nav-view name="tab-brand" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <!-- brand Tab -->
  <ion-tab title="Search" icon="ion-search" href="#/tab/searchBrand">
    <ion-nav-view name="tab-searchBrand" ></ion-nav-view>
  </ion-tab>

 <!-- brand Tab -->
  <!-- <ion-tab title="viewBrand" icon="ion-search" href="#/tab/viewBrand">
    <ion-nav-view name="tab-viewBrand"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
